.archives-wrap
  margin: block-margin 0

.archives // 文章父节点
  clearfix()
  display: flex
  flex-wrap: wrap
  justify-content: flex-start


.archive-year-wrap
  margin-bottom: 1em

.archive-year
  @extend $block-caption


.archive-article   // 文章
  // avoid-column-break()
  display: inline-block;
  width: 200px;
  height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  margin-left: 20px;

.archive-article-inner
  @extend $block 
  float: left;
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  transition: .6s;
  background-color: #ffc;

.archive-article-inner.front 
  @extend $block 
  float: left;
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  transition: .6s;
  background-color: #ffc;

.archive-article-inner.back 
  @extend $block 
  position: relative;
  top: -102px;
  z-index: -1;
  display: inline-block;
  width: 200px;
  height: 100px;
  border-radius: 5px;
  background-color: #ffc;
  transition: .6s;
  transform: rotateY(180deg);
  
.archive-article:hover > .archive-article-inner.front{
  transform: rotateY(180deg);
}

.archive-article:hover > .archive-article-inner.back {
  transform: rotateY(0);
  z-index: 1;
}


.archive-article-title
  text-decoration: none
  font-weight: bold
  color: color-default
  transition: color 0.2s
  line-height: line-height
  &:hover
    color: color-link

.archive-article-footer
  margin-top: 1em

.archive-article-date
  color: color-grey
  text-decoration: none
  font-size: 0.85em
  line-height: 1em
  margin-bottom: 0.5em
  display: block

#page-nav
  clearfix()
  margin: block-margin auto
  background: #fff
  box-shadow: 1px 2px 3px #ddd
  border: 1px solid color-border
  border-radius: 3px
  text-align: center
  color: color-grey
  overflow: hidden
  a, span
    padding: 10px 20px
    line-height: 1
    height: 2ex
  a
    color: color-grey
    text-decoration: none
    &:hover
      background: color-grey
      color: #fff
  .prev
    float: left
  .next
    float: right
  .page-number
    display: inline-block
    @media mq-mobile
      display: none
  .current
    color: color-default
    font-weight: bold
  .space
    color: color-border